* {
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.bg1 {
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
}

.bg2 {
    width: 300px;
    height: 250px;
    top: 0;
    left: 0;
}

.asset1 {
    top: 0px;
    left: 0px;
}

.asset2 {
    top: 0px;
    left: 0px;
}

.offerbase {
    top: 0px;
    left: 0px;
}

.ofertaka {
    top: 0px;
    left: 0px;
}

.cashbackcopy {
    top: 0px;
    left: 0px;
}

.lftasset {
    top: 0px;
    left: 0px;
}

.rhtasset {
    top: 0px;
    left: 0px;
}

.hoursText {
    top: 166px;
    left: 44px;
    color: black;
    font-size: 31px;
    font-weight: 900;
}

.minutesText {
    top: 166px;
    left: 134px;
    color: black;
    font-size: 31px;
    font-weight: 900;
}

.secondsText {
    top: 166px;
    left: 214px;
    color: black;
    font-size: 31px;
    font-weight: 900;
}

/* Utility */
.hidden {
    display: none;
}

.absolute {
    position: absolute;
}


/* Animation */
.asset1-animation {
    animation: asset1 8s linear infinite;
}

@keyframes asset1 {

    0%,
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }

    16% {
        transform: translateX(0px);
        opacity: 1;
    }

    50% {
        transform: translateX(0px);
        opacity: 1;
    }

    66% {
        transform: translateX(-300px);
        opacity: 0;
    }
}

.asset2-animation {
    animation: asset2 8s linear infinite;
}

@keyframes asset2 {

    0%,
    100% {
        transform: translateX(0px);
        opacity: 1;
    }

    16% {
        transform: translateX(300px);
        opacity: 0;
    }

    50% {
        transform: translateX(300px);
        opacity: 0;
    }

    66% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.ofertaka-animation {
    animation: ofertaka 3s linear infinite;
}

@keyframes ofertaka {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(.98);
    }
}


.rechargeOfferleft-animation {
    animation: rechargeOfferleft 5s linear infinite;
}

@keyframes rechargeOfferleft {

    0%,
    100% {
        transform: translateX(-300px);
        opacity: 0;
    }

    30% {
        transform: translateX(0px);
        opacity: 1;
    }

    80% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.rechargeOfferRight-animation {
    animation: rechargeOfferRight 5s linear infinite;
}

@keyframes rechargeOfferRight {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    30% {
        transform: scale(.98);
        opacity: 1;
    }

    80% {
        transform: scale(.98);
        opacity: 1;
    }
}